.cabecera{
    text-align: center;
    background-color: #22A39F;
}
.divCabecera1{
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 25px;
}
.divCabecera{
    text-align: center;
    background-color: #434242;
}
.divCabecera h4{
    color: white;
}
.linkHeader{
    color: white;
    text-decoration: none;
}
// .imagenFondo{
//     width: 100%;
//     // opacity: 0.5;
// }