.bandera{
    border: solid black 0.5px;
}
.divPais{
    min-height: calc(100vh - 0px);
    margin-top: 20px;
    margin-bottom: -1000px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}
.divPaisCont1{
    margin-top: 10px;
    text-align: center;
}
.divPaisCont2{
    margin-top: 10px;
    text-align: center;
}
.divPaisCont3{
    // margin-top: -200px;
    text-align: center;
}
.paisContainer{
    border: solid white 1px;
    border-radius: 10px;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 10px;
    background-color: #F3EFE0;
    // height: 500px;
    
}